<template>
    <transition name="modal">
        <div class="modal-mask">
            <div @click="$emit('close')" class="modal-wrapper">
                <div class="modal-container"  @click.stop>
                    <div class="modal-header">
                        <h1 v-if="title">{{ title }}</h1>
                        <div class="image-title-wrapper" v-if="image_title">

                            <img :src="image_title" />
                        </div>
                        <font-awesome-icon  class="close" @click="$emit('close')" :icon="[ 'fas', 'times']"></font-awesome-icon>
                        <slot name="header">
                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: [
        'title',
        'images',
        'image_title'
    ],
    methods: {
        closeModal(e){
            if(Boolean(this.close)){
                this.close();
            }
        }
    },
}
</script>

<style lang="css" scoped>
</style>
