<template>
    <div>
        <button @click="showModal=true" class="contact-sticky-button">
            <font-awesome-icon :icon="[ 'fas', 'envelope' ]"></font-awesome-icon>
        </button>
        <Modal
         class="contact-modal"
            @close="showModal=false"
             v-if="showModal">

            <template slot="body">
                <ContactForm />
            </template>
        </Modal>
    </div>
</template>

<script>
import ContactForm from '@/components/common/ContactForm/ContactForm.vue'
import Modal from '@/components/common/Modal/Modal.vue'
export default {
    data () {
        return {
            showModal: false,
        }
    },
    components: {
        Modal,
        ContactForm
    },
}
</script>

<style lang="scss">
.contact-modal{
    .modal-container{
        width: 50%;
        @include for-phone-only{
          width: 100%;
        }
    }
    .modal-wrapper{
        @include for-phone-only{
            height: auto;
        }
    }
}
.contact-sticky-button
{
    border-radius: 50px;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 2rem;
    right: 40px;
    z-index: 100;
    background: #225757;
    cursor: pointer;

  @include for-phone-only{
    bottom: 20px;
    right: 20px;
  }

  img{
    width: 60px;
    filter: drop-shadow(1px 4px 4px #222);
    @include for-phone-only{
      width: 45px;
    }
  }
}

</style>
