<template>
  <div id="app">
    <Menu/>
    <ContactStickyButton />
    <div class="main-content">
        <router-view/>
    </div>
    <TheFooter
        :address="pageData.logradouro"
        :number="pageData.numero"
        :neighborhood="pageData.bairro"
        :city="pageData.cidade"
        :state="pageData.uf"
        :phone="pageData.telefone"
        :email="pageData.email"
        :facebook="pageData.facebook"
        :instagram="pageData.instagram"
    />
  </div>
</template>

<script>
import Menu from '@/components/common/Menu/Menu.vue'
import TheFooter from '@/components/common/TheFooter/TheFooter.vue'
import ContactStickyButton from '@/components/common/ContactStickyButton/ContactStickyButton.vue'
import { mapState } from 'vuex'

export default {
  name: 'app',
  components: {
    Menu,
    TheFooter,
    ContactStickyButton
  },
  computed: {
      ...mapState('commonData', ['pageData'])
  }
}
</script>
<style lang="scss" >
 @import "./assets/scss/main";
</style>
