@import 'mixins';

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$title-font: 'Roboto', sans-serif;


$green: #185758;
$green1: #194647;
$green2: #518c61;
$green3: #8bc26b;
$blue: #00afef;
