@import 'variables';
@import 'modal';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
  font-family: $primary-font;
}

a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

img{
  max-width: 100%;
}

.container{
    margin: 0 auto;
    // @include for-tablet-landscape-up {
    //   max-width: 900px;
    // }
    // @include for-desktop-up{
    //   max-width: 1200px;
    // }
    // @include for-big-desktop-up {
    //   max-width: 1800px;
    // }
    width: 80%;
    @include for-phone-only{
        width: 100%;
        padding: 0 20px;
    }
}

.container2{
    margin: 0 auto;
    // @include for-tablet-landscape-up {
    //   max-width: 900px;
    // }
    // @include for-desktop-up{
    //   max-width: 1200px;
    // }
    // @include for-big-desktop-up {
    //   max-width: 1800px;
    // }
    width: 70%;
    @include for-phone-only{
        width: 100%;
        padding: 0 20px;
    }
}

.section-title{
    text-align: center;
    margin: 0 auto;
    h1{
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3rem;
        font-family: $title-font;
        color: $green;
        border: 2px solid $green;
        padding: 5px 40px;
        position: relative;
        @include for-big-desktop-up{
            font-size: 2rem;
            padding: 8px 40px;
        }
        &::after{
            content: '';
            height: 2px;
            background: $green;
            width: calc(100% - 80px);
            position: absolute;
            bottom: -15px;
            left: 40px;
        }
    }
}
.section-title-white{
    h1{
      color: #FFF;
      border-color: #FFF;
      &::after{
        background: #FFF;
      }
    }
}

.section-title-green{
    h1{
      color: #FFF;
      background: $green;
      &::before{
        content: '';
        position: absolute;
        top: -7px;
        left: -7px;
        right: -7px;
        bottom: -7px;
        border: 2px solid $green;

      }
    }
}


.hide-mb{
  @include for-phone-only{
    display: none;
  }
}

.show-mb{
  display: none;
  @include for-phone-only{
    display: inline-block;
  }
}

p{
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
strong{
  font-weight: 700;
}

i{
  font-style: italic;
}

.text-html{
  ul{
    list-style: circle;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 15px 0 15px 17px;
    li{
      margin-bottom: 5px;
    }
  }
}

.page-title{
    font-family: $secondary-font;
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    &::after{
      content: '';
      height: 1px;
      background: #333;
      width: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @include for-phone-only{
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
}

.main-content{
  padding-bottom: 80px;
  @include for-phone-only{
    padding-top: 70px;
  }
}

.bg-green{
    .main-content{
        background: $green;
    }
}
