<template lang="html">
  <section id="projects" class="projects container">
    <div class="section-title">
        <h1>Projetos</h1>
    </div>
    <div class="projects-wrapper">
      <swiper :options="swiperOption">
          <swiper-slide v-for="project in projects">
              <div class="project">
                  <p>
                      {{ project.texto }}
                  </p>
              </div>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
      <div class="swiper-button-prev swiper-button-prev-projects" slot="button-prev"></div>
      <div class="swiper-button-next swiper-button-next-projects" slot="button-next"></div>
    </div>
  </section>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
    props: ['projects',],
    data () {
        return {
            swiperOption: {
                autoplay: 5000,
                loop: false,
                slidesPerView: 3,
                paginationClickable: true,
                spaceBetween: 20,
                keyboardControl: true,
                autoHeight: true,
                pagination: {
                  el: '.swiper-pagination',
                  bullets: true
                },
                navigation: {
                  nextEl: '.swiper-button-next-projects',
                  prevEl: '.swiper-button-prev-projects'
                },
                breakpoints: {
                  640: {
                    slidesPerView: 1,
                    spaceBetween: 10
                  }
                }
            }
        }
    }
}
</script>

<style lang="scss">
.projects{
    .section-title{
        margin: 40px auto 50px auto;
    }
    .projects-wrapper{
        position: relative;
    }

    .swiper-button-prev{
        left: -40px;
        @include for-phone-only{
            display: none;
        }
    }
    .swiper-button-next{
        right: -40px;
        @include for-phone-only{
            display: none;
        }
    }
    .swiper-pagination-bullets{
        bottom: 0;
    }
    .swiper-container{
        padding: 40px 0 70px 0;
    }
    .project{
        display: flex;
        height: 100%;
        min-height: 250px;
        padding: 30px;
        background: $blue;
        position: relative;
        font-family: $secondary-font;
        font-weight: 400;
        color: #FFF;
        font-size: 0.9rem;
        font-weight: 300;
        text-transform: uppercase;
        box-shadow: 7px 7px 5px 0px rgba(204,204,204,1);
        @include for-big-desktop-up{
            font-size: 1rem;
        }
        p{
            text-align: center;
            align-self: center;
        }
        &::before, &::after{
            content: '';
            height: 45px;
            width: 60px;
            position: absolute;
        }
        &::before{
            top: -22px;
            background: url('../../../assets/images/aspa_topo_projeto.png') no-repeat;
            background-size: 100%;
        }
        &::after{
            bottom: -22px;
            right: 30px;
            background: url('../../../assets/images/aspa_baixo_projeto.png') no-repeat;
            background-size: 100%;
        }
    }
}
</style>
