u<template lang="html">
    <header>
        <div class="logo-wrapper">
            <div class="container">
                <div class="logo">
                    <router-link to="/">
                        <img src="../../../assets/images/logo.png" alt="">
                    </router-link>
                </div>
                <div class="sistemamackenzie hide-mb">
                    <img src="../../../assets/images/sistemamackenzie_says.png" alt="">
                </div>
                <div @click="openMenu = !openMenu" :class="[
                  'open-menu',
              openMenu ? 'active' : 'not-active',
            ]">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <ul :class="[
          'navbar',
      openMenu ? 'menu-open' : '',
    ]">
            <li class="navbar-item">
                <a>Instituto</a>
                <ul class="submenu">
                    <li class="navbar-item submenu-item"><router-link to="/nossa-historia">Nossa História</router-link></li>
                    <li class="navbar-item submenu-item"><router-link to="/projetos-pedagogicos">Projetos Pedagógicos</router-link></li>
                    <li class="navbar-item submenu-item"><router-link to="/equipe">Equipe</router-link></li>
                    <li class="navbar-item submenu-item"><router-link to="/depoimentos">Ex-alunos</router-link></li>
                    <li class="navbar-item submenu-item"><router-link to="/comunicados">Comunicados</router-link></li>
                </ul>
            </li>
            <li class="navbar-item">
                <router-link  :to="{ name: 'home', hash: '#segments-home'}">Etapas</router-link>
                <ul class="submenu">
                    <li class="navbar-item submenu-item" v-for="segment in pageData.segmentos" :segment="segment" :key="segment.id">
                        <router-link  :to="{ name: 'home', hash: '#segments-home'}">{{segment.nome}}</router-link>
                    </li>
                </ul>
            </li>
            <li class="navbar-item"><a target="_blank" href="http://ipcf.com.br/2020/matriculas/">Matrículas 2020</a></li>
            <li class="navbar-item"><router-link to="/says">Says Bilingual</router-link></li>
            <li class="navbar-item"><router-link to="/sistema-mackenzie">Sistema Mackenzie de Ensino</router-link></li>
            <li class="navbar-item"><router-link to="/galeria">Galeria</router-link></li>
            <li class="navbar-item">
                <a href="https://170315.eplusapp.com.br/Pages/StartPage.aspx?&url=RXJyb3JQYWdlLmFzcHg==" target="_blank">Sistema de Acesso</a>
                <ul class="submenu">
                    <li class="navbar-item submenu-item">Alunos</li>
                    <li class="navbar-item submenu-item">Responsáveis</li>
                    <li class="navbar-item submenu-item">Professores</li>
                </ul>
            </li>
        </ul>

    </header>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {
            openMenu: false,
        }
    },
    computed: {
        ...mapState('commonData', ['pageData'])
    },
}
</script>

<style lang="scss">
header{
    @include for-phone-only{
        position: fixed;
        z-index: 2;
        width: 100%;
    }
    .logo-wrapper{
        background: $green;
        padding: 20px 0;
        @include for-phone-only{
            padding: 5px 0;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo{
            img{
                width: 400px;
                @include for-big-desktop-up{
                    width: 600px;
                }
                @include for-phone-only{
                    height: 60px;
                    width: auto;
                }
            }
        }
        .sistemamackenzie{
            img{
                width: 300px;
                @include for-big-desktop-up{
                    width: 500px;
                }
            }
        }
    }

    .navbar{
        display: flex;
        color: $green;
        align-items: center;
        justify-content: center;
        height: 77px;
        background: $green3 url('../../../assets/images/mancha-menu.jpg') no-repeat top;
        background-size: 100%;
        @include for-phone-only{
            display: none;
            background: $green3;
            flex-direction: column;
        }
        &.menu-open{
            height: 100vh;
            display: flex;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .navbar-item{
            position: relative;
            font-size: 1.1rem;
            line-height: 1.4rem;
            padding: 0 15px 5px 15px;
            height: 100%;
            display: flex;
            align-items: center;
            @include for-big-desktop-up{
                font-size: 1.5rem;
                line-height: 1.4rem;
                padding: 0 15px 5px 15px;
            }
            @include for-phone-only{
                font-size: 1.4rem;
                padding: 20px 0;
                width: 100%;
                text-align: center;
            }
            &:not(:last-child){
                border-right: 1px solid;
                @include for-phone-only{
                    border: none;
                    border-bottom: 1px solid rgba(24, 87, 88, 0.17)
                }
            }
        }
        .submenu{
            position: absolute;
            top: 60px;
            padding: 15px 0px;
            z-index: 10;
            width: 300px;
            background: $green3;
            line-height: 1.8rem;
            display: none;
            .submenu-item{
                line-height: 2rem;
                font-size: 1.3rem;
                a{
                    display: block;
                }
                padding: 10px 25px;
                &:hover{
                    background: #bcff9538;
                }
                &:not(:last-child){
                    border-right: none ;
                    @include for-phone-only{
                        border: none;
                        border-bottom: 1px solid rgba(24, 87, 88, 0.17)
                    }
                }
            }
        }
        .navbar-item:hover{
            .submenu{
                display: block;
            }
        }
    }
    .open-menu {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        width: 30px;
        z-index: 3;
        cursor: pointer;
        display: none;
        @include for-phone-only{
            display: block;
        }

        span {
            display: block;
            width: 100%;
            border-radius: 3px;
            height: 3px;
            background: #fff;
            transition: all .3s;
            position: relative;
        }

        span + span {
            margin-top: 8px;
        }

        &.active span:nth-child(1) {
            animation: ease .7s top forwards;
        }

        &.not-active span:nth-child(1) {
            animation: ease .7s top-2 forwards;
        }

        &.active span:nth-child(2) {
            animation: ease .7s scaled forwards;
        }

        &.not-active span:nth-child(2) {
            animation: ease .7s scaled-2 forwards;
        }

        &.active span:nth-child(3) {
            animation: ease .7s bottom forwards;
        }

        &.not-active span:nth-child(3) {
            animation: ease .7s bottom-2 forwards;
        }
    }


    @keyframes top {
      0% {
        top: 0;
        transform: rotate(0);
      }
      50% {
        top: 10px;
        transform: rotate(0);
      }
      100% {
        top: 10px;
        transform: rotate(45deg);
      }
    }

    @keyframes top-2 {
      0% {
        top: 10px;
        transform: rotate(45deg);
      }
      50% {
        top: 10px;
        transform: rotate(0deg);
      }
      100% {
        top: 0;
        transform: rotate(0deg);
      }
    }

    @keyframes bottom {
      0% {
        bottom: 0;
        transform: rotate(0);
      }
      50% {
        bottom: 12px;
        transform: rotate(0);
      }
      100% {
        bottom: 12px;
        transform: rotate(135deg);
      }
    }

    @keyframes bottom-2 {
      0% {
        bottom: 10px;
        transform: rotate(135deg);
      }
      50% {
        bottom: 10px;
        transform: rotate(0);
      }
      100% {
        bottom: 0;
        transform: rotate(0);
      }
    }

    @keyframes scaled {
      50% {
        transform: scale(0);
      }
      100% {
        transform: scale(0);
      }
    }

    @keyframes scaled-2 {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

}
</style>
