<template>
    <section id="segments-home">
        <div class="section-title section-title-white">
            <h1>Segmentos</h1>
        </div>
        <div class="segments">
            <Segment @click.native="openModal(segment)" v-for="segment in this.segmentsData" class="segment" :segment="segment" :key="segment.id" />
        </div>
        <Modal
            @close="showModal=false"
             v-if="showModal">
            <template slot="header">
                <Segment @click.native="showModal=false" :segment="segment" />
            </template>
            <template slot="body">
                <h5>
                    {{ segment.texto_titulo }}
                </h5>
                <div v-html="segment.texto" class="text">
                </div>
                <div v-if="segment.imagem" class="segment-image-wrapper">
                    <img :src="segment.imagem" :alt="segment.titulo"/>
                </div>
            </template>
        </Modal>
    </section>
</template>

<script>
import SegmentsService from '@/services/SegmentsService'
import Segment from '@/components/common/Segment/Segment.vue'
import Modal from '@/components/common/Modal/Modal.vue'

const segmentsService = SegmentsService.build()

export default {
    data () {
        return {
            showModal: false,
            segment: null,
            segmentsData: []
        }
    },
    components: {
        Segment,
        Modal
    },
    created() {
      this.getData();
    },
    methods: {
        getData(){
            segmentsService.list().then(
                response => {
                  this.segmentsData = response
                },
                error => {
                    console.log("ERROR");
                }
            );
        },
        openModal(segment){
            this.segment = segment
            this.showModal=true
        }
    }
}
</script>

<style lang="scss">
#segments-home{
    position: relative;
    margin-top: 180px;
    padding: 10px 0;
    background: $green3 url('../../../assets/images/curva_meio.png') no-repeat bottom;
    background-size: 100%;
    @include for-phone-only{
        background: $green3;
        margin-top: 40px;
    }
    .section-title{
        margin-bottom: 100px;
        @include for-phone-only{
            margin: 30px 0 50px 0;
        }
    }
    &::before{
        content: '';
        background: url('../../../assets/images/primeira_curva.png') no-repeat bottom;
        background-size: 100%;
        width: 100%;
        height: 200px;
        position: absolute;
        top: -199px;

    }

    .segments{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 20px 150px 20px;
        @include for-big-desktop-up{
            width: 90%;
        }
        @include for-phone-only{
            flex-direction: column;
            width: 100%;
            padding: 10px 20px 40px 20px;
        }

    }

    .modal-container{
        padding: 0px;
        background-color: transparent;
        border-color: transparent;
        box-shadow: unset;
        width: 50%;
        @include for-phone-only{
            width: 100%;
        }
        .modal-header{
            background-color: transparent;
        }
        .modal-body{
            background-color: #FFF;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
            padding: 130px 30px 30px;
            border-radius: 5px;
            margin-top: -100px;
            @include for-phone-only{
                padding: 130px 20px 30px;
            }
        }
        .segment{
            display: block;
            margin: 0 auto;
            @include for-phone-only{
                height: auto;
            }
        }

        .text{
            text-align: center;
            margin: 0 auto;
            font-size: 0.9rem;
            line-height: 1.2rem;
            font-weight: 300;
            font-family: $primary-font;
            color: #666;
        }
        h5{
            line-height: 1.6rem;
            font-family: $title-font;
            font-weight: 600;
            font-size: 1.2rem;
            color: #333;
            text-align: center;
            margin-bottom: 15px;
            @include for-phone-only{
                font-weight: 500;
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }
        .segment-image-wrapper{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;
            margin: 0 auto;
            margin-top: 70px;
            @include for-phone-only{
                width: 100%;
            }
        }
    }
}
</style>
