<template>
    <section id="gallery">
        <div class="section-title section-title-green">
            <h1>Galeria</h1>
        </div>
        <lightbox id="mylightbox"
            ref="lightbox"
            :images="[...images_grid_1, ...images_grid_2]"
            :timeoutDuration="5000"
        ></lightbox>

        <div class="gallery-grid-mb show-mb">
            <swiper :options="swiperOption">
                <swiper-slide v-for="(image, imageIndex) in [...images_grid_1, ...images_grid_2]">
                    <div :key="imageIndex"  @click="showLightbox(image.imagem)" class="image-wrapper">
                        <img :src="image.imagem" />
                    </div>
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
        </div>
        <div class="gallery-grid-1-wrapper hide-mb">
            <div class="gallery-grid-1">
                <div :key="imageIndex" @click="showLightbox(image.imagem)" :class="['gallery-item', 'item-' + imageIndex]" v-for="(image, imageIndex) in images_grid_1">
                    <img :src="image.imagem" />
                </div>
            </div>
        </div>
        <div class="separator hide-mb">
            <img src="../../../assets/images/linha_pontilhada.png" />
        </div>
        <div class="gallery-grid-2-wrapper hide-mb">
            <div class="gallery-grid-2">
                <div  @click="showLightbox(image.imagem)" :class="['gallery-item', 'item-' + imageIndex]" v-for="(image, imageIndex) in images_grid_2">
                    <img :src="image.imagem" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Lightbox from 'vue-my-photos'
export default {
    props: ['images_grid_1', 'images_grid_2'],
    components: {
        Lightbox
    },
    methods:{
        showLightbox: function(imageName) {
            this.$refs.lightbox.show(imageName);
        },
    },
    data () {
        return {
            index: null,
            swiperOption: {
                autoplay: 5000,
                loop: true,
                slidesPerView: 1,
                paginationClickable: true,
                spaceBetween: 20,
                keyboardControl: true,
                pagination: {
                  el: '.swiper-pagination',
                  bullets: true
                },

            }
        }
    }

}
</script>

<style lang="scss">
#gallery{
    margin-top: 50px;
    background: url('../../../assets/images/galeria.png') no-repeat;
    background-size: 263px auto;
    background-position: 6% 0%;
    @include for-big-desktop-up{
        background-size: 363px auto;
        background-position: 6% 0%;
    }
    @include for-phone-only{
        background: url('../../../assets/images/dots2.png') no-repeat;
        background-size: 100% auto;
        background-position: 100px bottom;
        padding-bottom: 42px;
    }
    .lightbox-image{
        background-size: auto;
        @include for-phone-only{
            background-size: 100%;
        }
    }
    .gallery-grid-mb{
        margin-top: 40px;
        width: 100%;
        padding: 0 40px;
        .image-wrapper{
            width: 100%;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .separator{
        width: 80%;
        margin: 80px auto 80px auto;
    }
    .gallery-grid-1-wrapper{
        padding-top: 150px;
        background: url('../../../assets/images/dots.png') no-repeat;
        background-size: 47% auto;
        background-position: 80% 25%;

        @include for-big-desktop-up{
            padding-top: 250px;
            background-position: 75% 25%;
        }
    }
    .gallery-grid-2-wrapper{
        background: url('../../../assets/images/dots2.png') no-repeat;
        background-size: 47% auto;
        background-position: 19% 180%;
        padding-bottom: 100px;
        @include for-big-desktop-up{
            padding-bottom: 300px;
            background-position: 19% 60%;
        }
    }
    .gallery-grid-1{
        width: 50%;
        margin: 0 auto;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 200px 300px;
        grid-template-areas:
            "area0 area1 area2"
            "area3 area3 area3";
        @include for-big-desktop-up{
            grid-template-rows: 300px 400px;
        }
        .item-0 {
          grid-area: area0;
        }
        .item-1{
            grid-area: area1
        }
        .item-2 {
          grid-area: area2;
        }
        .item-3{
            grid-area: area3;
        }
        .gallery-item{
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .gallery-grid-2{
        width: 50%;
        margin: 0 auto;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 200px 300px;
        grid-template-areas:
            "area0 area1 area1"
            "area2 area2 area3";
        @include for-big-desktop-up{
            grid-template-rows: 300px 400px;
        }
        .item-0 {
          grid-area: area0;
        }
        .item-1{
            grid-area: area1
        }
        .item-2 {
          grid-area: area2;
        }
        .item-3{
            grid-area: area3;
        }
        .gallery-item{
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}
</style>
