<template>
    <div :class="[
      'subfooter-wrapper',
      dark ? 'dark' : '',
      ]">
        <img class="image" v-if="dark" src="@/assets/images/educacao_hj_rodape_escuro.png" />
        <img class="image" v-else src="@/assets/images/educacao_hj_rodape_claro.png" />
        <img class="curva" src="@/assets/images/curva_rodape.png" />
    </div>
</template>

<script>
export default {
    props: ['dark',]
}
</script>

<style lang="scss" scoped>
.subfooter-wrapper{

    text-align: center;
    padding-top: 50px;
    &.dark{
        background: $green;
    }
    img{
        max-width: 100%;
    }
    .image{
        padding: 0 10px;
    }
    .curva{
        width: 100%;
        position: relative;
        margin: -100px;
        z-index: 10;
        @include for-phone-only{
            display: none;
            margin: 0px;
        }
    }
}
</style>
