r<template>
    <footer id="footer">
      <div class="container">
          <div class="footer-wrapper">

            <div class="logo-wrapper">
                <img src="@/assets/images/logo_branco.png" />
            </div>
            <div class="info">
                <div class="address-wrapper">
                  <div>
                    {{ address }}, {{ number }} , {{ neighborhood }}, {{ city }} - {{ state }}</div>
                    <div>{{ email }}</div>
                    <div>{{ phone }}</div>
                </div>
                <div class="social">
                    <a :href="facebook" target="_blank" class="social-item">
                        <font-awesome-icon :icon="[ 'fab', 'facebook-f' ]"></font-awesome-icon>
                    </a>
                    <a :href="instagram" target="_blank" class="social-item">
                        <font-awesome-icon :icon="[ 'fab', 'instagram' ]"></font-awesome-icon>
                    </a>
                </div>
            </div>
          </div>
      </div>
    </footer>
</template>
<script>
export default {
    name: "Footer",
    props: ['address', 'number', 'neighborhood', 'city', 'state', 'phone', 'email', 'facebook', 'instagram'],
}
</script>
<style lang="scss">
#footer{
  padding: 60px 0;
  color: #FFF;
  background-color: $green;
  position: relative;
  &::before{
    content: '';
    height: 10px;
    background: $green2;
    width: 100%;
    position: absolute;
    top: -16px;
  }
  .footer-wrapper{
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #FFF;
    padding-bottom: 50px;
    padding: 0 30px 60px 30px;
    @include for-phone-only{
        padding: 0 0 30px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  .form-wrapper{
    width: 50%;
    @include for-phone-only{
        width: 100%;
    }
    h1{
      font-size: 1.2rem;
      text-align: center;
      font-weight: 600;
      line-height: 1.8rem;
      padding: 20px 0 30px 0;
    }

    .btn{
      margin-top: 10px;
      border-radius: 5px;
      display: inline-block;
      height: 30px;
      padding: 0 20px;
    }
  }
  .logo-wrapper{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-phone-only{
        width: 80%;
    }
    img{
      width: 100%;
    }
  }
  .info{
    padding-left: 50px;
    width: 50%;
    font-size: 0.8rem;
    @include for-phone-only{
        width: 100%;
        padding-left: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;

    }
    @include for-big-desktop-up{
        font-size: 1rem;
    }
    .address-wrapper{
      margin: 20px 0;
      @include for-phone-only{
          order: 2;
      }
    }
  }
  .social{
    font-size: 1rem;
    @include for-phone-only{
        margin-top: 40px;
        order: 1;
    }
    a{
      width: 25px;
      height: 25px;
      display: inline-block;
      border-radius: 50%;
      background: #FFF;
      color: $green;
      line-height: 25px;
      text-align: center;
      &:not(:first-child){
        margin-left: 10px;
      }
    }
  }
}
</style>
