<template>
    <section id="comunicacoes" class="container">
        <h1 class="page-title">Comunicações</h1>
        <div class="comunicacoes-wrapper">
            <div v-html="pageData.texto_comunicacoes" class="text">
            </div>
            <div class="image">
                <img :src="pageData.imagem_comunicacoes" />
            </div>
        </div>
        <div class="comunicacoes-wrapper">
            <div class="image">
                <img :src="pageData.imagem2_comunicacoes" />
            </div>
            <div v-html="pageData.texto2_comunicacoes" class="text">
            </div>
        </div>
    </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed: {
        ...mapState('commonData', ['pageData'])
    }
}
</script>

<style lang="scss">

#comunicacoes{
    padding-top: 70px;
    .page-title{
        &::after{
            bottom: -7px;
        }
    }
    .comunicacoes-wrapper{
        display: flex;
        align-items: center;
        .text{
            width: 60%;
            color: #555;
        }
        .image{
            width: 40%;
            padding: 0 40px;
        }
        .image{
            text-align: center;
        }
    }
}
</style>
