<template>
    <section id="gallery-page" class="container">
        <h1 class="page-title">{{ gallery.nome }}</h1>
        <gallery :images="images" :index="index" @close="index = null"></gallery>
        <div id="gallery-images">
            <div
              class="gallery-image"
              v-for="(image, imageIndex) in images"
              :key="imageIndex"
              @click="index = imageIndex"
              :style="{ backgroundImage: 'url(' + image + ')' }"
            ></div>
        </div>
  </section>
</template>

<script>
import GalleryService from '@/services/GalleryService'
import VueGallery from 'vue-gallery';

const galleryService = GalleryService.build()

export default {
    components:{
        'gallery': VueGallery
    },
    created() {
      this.getData();
    },
    data() {
      return {
        images: [],
        gallery: {},
        index: null
      };
     },
    methods: {
        getData(){

            galleryService.getBySlug(this.$route.params.categorySlug).then(
                response => {
                  this.gallery = response
                  this.images = response.imagens.map((imagem)=> imagem.imagem)
                },
                error => {
                    console.log("ERROR");
                }
            );
        }
    }
}
</script>

<style lang="scss" scoped>
#gallery-page{
    padding-top: 50px;
}
#gallery-images{
    display: flex;
    flex-wrap: wrap;
    @include for-phone-only{
        flex-direction: column;
    }
    .gallery-image {
        cursor: pointer;
        width: calc(25% - 20px);
        height: 0;
        padding-bottom: calc(25% - 20px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ebebeb;
        margin: 10px;
        @include for-phone-only{
            width: 100%;
            height: 150px;
            margin: 10px 0;
        }
    }
}
</style>
