<template>
    <section id="galleries-page" >
        <h1 class="page-title container">Galeria</h1>
        <div class="galleries-wrapper container">
            <figure v-for="category, key in categories" :key="key" class="gallery-category">
                <img  :src="category.capa" :alt="category.nome" />
                <figcaption>
                    <h2>{{ category.nome }}</h2>
                </figcaption>
                <router-link :to="{ name: 'gallery', params: { categorySlug: category.slug }}"></router-link>
            </figure>
        </div>
        <SubFooter />
    </section>
</template>

<script>
import GalleryService from '@/services/GalleryService'
import SubFooter from '@/components/common/SubFooter/SubFooter.vue'

const galleryService = GalleryService.build()

export default {
    components:{
        SubFooter,
    },
    created() {
      this.getData();
    },
    data () {
        return {
            categories: []
        }
    },
    methods: {
        getData(){
            galleryService.list().then(
                response => {
                  this.categories = response
                },
                error => {
                    console.log("ERROR");
                }
            );
        }
    }
}
</script>

<style lang="scss">

#galleries-page{
    padding-top: 50px;
    .galleries-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
}

figure.gallery-category {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: calc(33% - 20px);
  background: $green1;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  @include for-phone-only{
      width: 100%;
  }
}

figure.gallery-category * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.gallery-category img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.gallery-category figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.gallery-category h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  font-size: 1.3rem;
  display: inline-block;
  background: transparent;
  -webkit-transform: skew(0deg) rotate(0deg) translate(0, -50%);
  transform: skew(0deg) rotate(0deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: $title-font
}

figure.gallery-category h2 span {
  font-weight: 800;
}

figure.gallery-category:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: $green1;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.gallery-category a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.gallery-category.blue {
  background: #123851;
}

figure.gallery-category.blue h2 {
  background: #0a212f;
}

figure.gallery-category.red {
  background: #581a14;
}

figure.gallery-category.red h2 {
  background: #36100c;
}

figure.gallery-category.yellow {
  background: #7f5006;
}

figure.gallery-category.yellow h2 {
  background: #583804;
}

figure.gallery-category:hover img,
figure.gallery-category.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.gallery-category:hover h2,
figure.gallery-category.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.gallery-category:hover:before,
figure.gallery-category.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}


</style>
