<template>
    <section id="history" class="container">
        <h1 class="page-title">Nossa História</h1>
        <div class="wraper">
            <div v-html="pageData.texto_nossa_historia" class="text">
            </div>
            <div class="images">
                <div class="image-wrapper">
                    <img :src="pageData.imagem_nossa_historia" />
                </div>
                <div v-if="pageData.imagem2_nossa_historia" class="image-wrapper">
                    <img :src="pageData.imagem2_nossa_historia"/>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState('commonData', ['pageData'])
    }
}
</script>

<style lang="scss" scoped>
#history{
    padding: 50px 0;
    @include for-phone-only{
        padding: 20px;
    }
    .wraper{
        display: flex;
        @include for-phone-only{
            flex-direction: column;
        }
        .text, .images{
            width: 50%;
            @include for-phone-only{
                width: 100%;
            }
        }
        .text{
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
        .images{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include for-phone-only{
                padding: 20px;
            }
        }
        .image-wrapper{
            img{
                height: 500px;
                width: 500px;
                object-fit: cover;
            }
            margin-bottom: 20px;
        }
    }
}
</style>
