<template lang="html">
    <div id="home">
        <Banners :banners="pageData.banners"/>
        <Features :features="pageData.servicos"/>
        <section id="quality">
            <div class="text">
                <h1>Qualidade de Ensino</h1>
                <h5>{{ pageData.subtitulo_qualidade_ensino }}</h5>
                <p v-html="pageData.texto_qualidade_ensino"></p>
                <button class="btn" type="button" name="button">Saiba mais</button>
            </div>
            <div v-html="pageData.video_embedded_qualidade_ensino" class="video">
            </div>
        </section>
        <Gallery :images_grid_1="pageData.galerias1" :images_grid_2="pageData.galerias2"/>
        <Segments />
        <section id="logo">
            <img class="logo" src="../assets/images/logo.png" alt="">
        </section>
        <Projects :projects="pageData.projetos" />
    </div>
</template>

<script>
import Banners from '@/components/home/Banners/Banners.vue'
import Gallery from '@/components/home/Gallery/Gallery.vue'
import Segments from '@/components/home/Segments/Segments.vue'
import Projects from '@/components/home/Projects/Projects.vue'
import Features from '@/components/home/Features/Features.vue'
import { mapState } from 'vuex'


export default {
    components: {
        Banners,
        Gallery,
        Features,
        Segments,
        Projects
    },
    computed: {
        ...mapState('commonData', ['pageData'])
    }
}
</script>

<style lang="scss">
#home{
    #quality{
        display: flex;
        background: $green;
        width: 90%;
        padding: 60px 100px;
        margin: 0 auto;
        color: #FFF;
        @include for-phone-only{
            margin-top: 40px;
            width: 100%;
            padding: 40px 20px;
            flex-direction: column;
        }
        h1{
            font-size: 1.5rem;
            font-family: $title-font;
            margin-bottom: 10px;
            @include for-big-desktop-up{
                font-size: 2rem;
            }
        }
        h5{
            font-family: $title-font;
            font-size: 0.8rem;
            margin-bottom: 30px;
            @include for-big-desktop-up{
                font-size: 1rem;
            }
        }
        p{
            font-size: 0.9rem;
        }
        .text, .video{
            width: 50%;
            @include for-phone-only{
                width: 100%;
            }
        }
        .video{
            display: flex;
            align-items: center;
            justify-content: center;
            @include for-phone-only{
                margin-top: 40px;
            }
            iframe{
                width: 500px;
                height: 300px;
                @include for-phone-only{
                    width: 100%;
                    height: 300px;
                }
            }
        }
        .btn{
            background: $blue;
            color: #FFF;
            margin-top: 50px;
            padding: 10px 20px;
        }
    }
    #logo{
        margin-top: -1px;
        background: $green;
        position: relative;
        text-align: center;
        padding-bottom: 50px;
        background: $green url('../assets/images/curva_final.png') no-repeat bottom;
        background-size: 100%;

        @include for-phone-only{
            display: none;
        }

        .logo{
            margin: 0 auto;
            width: 45%;
            padding: 60px 0;
        }

    }
}
</style>
