<template>
    <section id="projects-view">
        <div class="container">
            <h1 class="page-title">Projetos Pedagógicos</h1>
            <div>
                <div class="image">
                    <img :src="pageData.imagem_projetos_pedagogicos" />
                </div>
                <div v-html="pageData.texto_projetos_pedagogicos" class="text text-html">
                </div>
            </div>
        </div>
        <SubFooter />
    </section>
</template>

<script>
import SubFooter from '@/components/common/SubFooter/SubFooter.vue'
import { mapState } from 'vuex'


export default {
    components:{
        SubFooter,
    },
    computed: {
        ...mapState('commonData', ['pageData'])
    }
}
</script>

<style lang="scss" scoped>
#projects-view{
    padding-top: 100px;
    @include for-phone-only{
        padding-top: 30px;
    }
    .image{
        float: right;
        margin-left: 20px;
        width: 500px;
        @include for-phone-only{
            float: none;
            width: 100%;
            margin: 0;
        }
    }
}
</style>
