<template>
    <div>
        <div class="says-header">
            <img :src="pageData.imagem_topo_says" />
        </div>
        <section id="says" class="container">
            <h1 class="page-title">{{ pageData.titulo_says }}</h1>

            <div v-html="pageData.texto_says" class="text">
            </div>
            <div class="says">
                <img :src="pageData.imagem_says" />
            </div>
            <div class="box">
                {{ pageData.texto_box_says }}
            </div>
        </section>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState('commonData', ['pageData'])
    }
}
</script>

<style lang="scss" scoped>
.says-header{
    text-align: center;
    margin: 30px;
}
.says{
    text-align: center;
    margin: 30px 0;
}
.box{
    background: $green;
    padding: 30px;
    color: #FFF;
    font-size: 1.2rem;
    line-height: 1.7rem;
}
</style>
