<template>
    <section id="segments" class="container2">
        <div class="segment-box" v-for="(segment, key) in segments" :key="key">
            <div class="segment-circle-wrapper">
                <Segment :segment="segment"/>
            </div>
            <div v-html="segment.texto" class="text">
            </div>
            <div class="image-wrapper">
                <img :src="segment.imagem" :alt="segment.titulo"/>
            </div>
        </div>
    </section>

</template>

<script>
import SegmentsService from '@/services/SegmentsService'
import Segment from '@/components/common/Segment/Segment.vue'

const segmentsService = SegmentsService.build()

export default {
    components:{
        Segment
    },
    created() {
      this.getData();
    },
    data () {
        return {
            segments: []
        }
    },
    methods: {
        getData(){
            segmentsService.list().then(
                response => {
                  this.segments = response
                },
                error => {
                    console.log("ERROR");
                }
            );
        }
    }
}
</script>

<style lang="scss" scoped>
#segments{
    color: #FFF;
    padding: 100px 0;
    .segment-box{
        border: 2px dashed #FFF;
        display: flex;
        min-height: 320px;
        margin-bottom: 60px;
        .image-wrapper{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            @include for-phone-only{
                width: 100%;
            }
        }
        .segment-circle-wrapper{
            width:13%;
        }
        .text{
            width: 66%;
            padding: 40px 20px;
            font-size: 1rem;
            font-weight: 600;
            @include for-phone-only{
                width: 100%;
            }
        }
        .segment-circle-wrapper{
            position: relative;
            .segment{
                position: absolute;
                left: -140px;
                top: calc(50% - 140px);
            }
        }
        &:nth-child(even){

            .text{
                order: 2;
            }
            .segment-circle-wrapper{
                order: 3;
                .segment{
                    right: -140px;
                    left: auto;
                }
            }
            .image-wrapper{
                order: 1;
            }
        }
    }
}
</style>
