<template>
    <div>
        <div class="mackenzie">
            <img src="@/assets/images/mackenzie.jpg" />
        </div>
        <section id="mackenzie" class="container">
            <h1 class="page-title">Sistema Mackenzie de Ensino</h1>

            <div v-html="pageData.texto_mackenzie" class="text">
            </div>
            <div v-html="pageData.video_embedded_mackenzie" class="video-wraper">
            </div>
        </section>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState('commonData', ['pageData'])
    }
}
</script>

<style lang="scss" scoped>
.mackenzie{
    text-align: center;
    background: #FFF;
    @include for-phone-only{
        padding: 10px 20px 0;
    }
}
#mackenzie{
    padding: 50px 0;
    @include for-phone-only{
        padding: 20px;
    }
    .video-wraper{
        margin-top: 50px;
        text-align: center;
    }

}
@include for-phone-only{
    iframe{
        max-width: 100% !important;
    }
}
</style>
