<template>
    <section id="team">
        <div v-for="tipo, key in this.tiposEquipe" :key="key" class="type-wrapper">
            <h2>{{ getTitulo(key) }}</h2>
            <div class="team-wrapper container">
                <div v-for="membro in tipo" class="team-member">
                  <div class="image-wrapper">
                      <img :src="membro.imagem" />
                  </div>
                  <div class="text">
                        <div class="name">
                            {{ membro.nome }}
                        </div>
                        <div class="job">
                            {{ membro.funcao }}
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <SubFooter :dark="true" />
    </section>
</template>

<script>
import TeamService from '@/services/TeamService'
import SubFooter from '@/components/common/SubFooter/SubFooter.vue'

const teamService = TeamService.build()

export default {
    components:{
        SubFooter,
    },
    created() {
      this.getData();
    },
    data () {
        return {
            tiposEquipe: []
        }
    },
    methods: {
        getTitulo(tipo){
            const tipos = {
                'direcao' : () => 'Diretoria',
                'secretaria': () => 'Secretaria',
                'educacao_infantil': () => 'Educação Infantil',
                'fundamental_i': () => 'Fundamental I',
                'fundamentao_ii': () => 'Fundamental II e Médio',
                'default': () => ''
            }
            return tipos[tipo]() || tipos['default']
        },
        getData(){
            teamService.list().then(
                response => {
                  this.tiposEquipe = response
                },
                error => {
                    console.log("ERROR");
                }
            );
        }
    }
}
</script>

<style lang="scss">

#team{
    text-align: center;
    color: #FFF;
    h2{
        font-family: $secondary-font;
        font-size: 2rem;
    }
    .container{
        width: 70%;
        @include for-phone-only{
            width: 100%;
            padding: 0 20px;
        }
    }
    .type-wrapper{
        background: $green;
        padding: 30px 0;
        &:nth-child(odd){
            background: $green1;
        }
    }
    .team-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .team-member{
        margin-top: 30px;
        @include for-phone-only{
            width: 50%;
        }
        &:not(:last-child){
            margin-right: 100px;
            @include for-phone-only{
                margin-right: 0;
            }
        }
        .image-wrapper{
            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                filter: grayscale(1);
                transition: all 1s;
                &:hover{
                    filter: none;
                }
                @include for-phone-only{
                    width: 100px;
                    height: 100px
                }
            }
        }
        .text{
            font-size: 1.2rem;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            @include for-phone-only{
                font-size: 1rem;
            }
        }
        .job{
            font-weight: 400;
            @include for-phone-only{
                font-size: 0.9rem;
            }
        }
    }
}
</style>
