<template>
    <section id="testimonials-view">
        <div class="container">
            <h1 class="page-title">Depoimentos</h1>
            <h2 class="subtitle">Ex-Aluno</h2>
            <swiper :options="swiperOption">
                <swiper-slide v-for="testimonial in testimonials">
                    <div class="testimonial-wrapper">
                        <div v-if="testimonial.imagem" class="image-wrapper">
                            <img :src="testimonial.imagem" />
                        </div>
                        <div class="text-wrapper">
                            <div class="text">
                                {{ testimonial.texto }}
                            </div>
                            <div class="name">
                                {{ testimonial.nome }} <span v-if="testimonial.subtitulo">- {{ testimonial.subtitulo }}</span>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
        </div>
    </section>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

import TestimonialsService from '@/services/TestimonialsService'


const testimonialsService = TestimonialsService.build()


export default {
    created() {
      this.getData();
    },
    data () {
        return {
            testimonials: [],
            swiperOption: {
                autoplay: 5000,
                //effect: 'fade',
                slidesPerView: 1,
                paginationClickable: true,
                keyboardControl: true,
                pagination: {
                  el: '.swiper-pagination',
                  bullets: true
                }
            },
        }
    },
    methods: {
        getData(){
            testimonialsService.list().then(
                response => {
                  this.testimonials = response
                },
                error => {
                    console.log("ERROR");
                }
            );
        }
    }
}
</script>

<style lang="scss" scoped>
#testimonials-view{
    padding-top: 50px;
    .swiper-container{
        padding-bottom: 50px;
    }
    .swiper-pagination{
        bottom: 0px;
    }
    @include for-phone-only{
        padding-top: 30px;
    }
    .container{
        width: 55%;
        @include for-phone-only{
            width: 100%;
        }
    }
    .page-title{
        color: #FFF;
        text-align: center;
        margin-bottom: 0px;

        &:after{
            content: none;
        }
    }
    .subtitle{
        color: #FFF;
        font-family: $secondary-font;
        font-style: italic;
        text-align: center;
        font-size: 1.9rem;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .testimonial-wrapper{
        display: flex;
        padding: 50px;

        @include for-phone-only{
            flex-direction: column;
            padding: 30px 20px 0px 30px;
        }
        .image-wrapper{
            width: 370px;
            height: 450px;
            position: relative;
            @include for-phone-only{
                width: 100%;
                height: 300px;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: -33px;
                left: -33px;
                display: block;
                border: 7px solid #FFF;
                z-index: -1;
                @include for-phone-only{
                    top: -15px;
                    left: -15px;
                    border: 3px solid #FFF;
                }
            }
        }
        .text-wrapper{
            width: 60%;
            padding-left: 70px;
            color: #FFF;
            font-size: 1.1rem;
            line-height: 1.5rem;
            @include for-phone-only{
                width: 100%;
                padding-left: 0px;
                padding-top: 30px;
            }
        }
        .name{
            padding-top: 20px;
            font-weight: 600;
        }
    }
}
</style>
