<template>
    <section id="features">
        <div class="section-title">
            <h1>Acesse Já</h1>
        </div>
        <div class="features">
            <a :href="feature.link" target="_blank" :key="feature.title" v-for="feature in features" class="feature">
                <div class="icon">
                    <font-awesome-icon :icon="[ 'fas', 'pencil-alt']"></font-awesome-icon>
                </div>
                <h1 v-if="feature.tipo=='matriculas'">
                    Matrículas
                </h1>
                <h1 v-if="feature.tipo=='boletim_escolar'">
                    Boletim Escolar
                </h1>
                <h1 v-if="feature.tipo=='boletos'">
                    Boletos
                </h1>
                <p>
                    {{ feature.texto }}
                </p>
            </a>
        </div>
        <div class="enrollment hide-mb">
            <h2>Faça sua Matrícula</h2>
        </div>
    </section>
</template>

<script>
export default {
    props: ['features',],
}
</script>

<style lang="scss">
#features{
    margin-top: 40px;
    .features{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        @include for-phone-only{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .feature{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #FFF;
            background: $green;
            width: 250px;
            height: 250px;
            padding: 20px;
            transition: all 1s ease-out;
            &:hover{
                background: $green3;
            }
            @include for-big-desktop-up{
                width: 300px;
                height: 300px
            }
            &:not(:last-child){
                margin-right: 10px;
                @include for-phone-only{
                    margin-bottom: 20px;
                    margin-right: 0px;
                }
            }
            .icon{
                font-size: 1.5rem;
                @include for-big-desktop-up{
                    font-size: 2.5rem;
                }
            }
            h1{
                font-size: 1.3rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 5px;
                margin: 25px 0;
                font-family: $title-font;

                @include for-big-desktop-up{
                    font-size: 2rem;
                }

                &::after{
                    content: '';
                    height: 2px;
                    background: #FFF;
                    width: 45px;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                }
            }
            p{
                font-size: 0.9rem;
                @include for-big-desktop-up{
                    font-size: 1rem;
                }
            }
        }
    }
    .enrollment{
        text-align: center;
        h2{
            display: inline-block;
            font-size: 1.5rem;
            height: 58px;
            line-height: 58px;
            margin: 60px 0 20px 0;
            color: #FFF;
            background: $green;
            padding: 0 80px;
            font-family: $title-font;
            position: relative;

            @include for-big-desktop-up{
                font-size: 2rem;
                padding: 0 115px;
            }
            &::before, &::after{
                content: '';
                height: 58px;
                width: 36px;
                position: absolute;
                top: 0;
                left: 0;
                background: $green3 url('../../../assets/images/seta_titulo.jpg') no-repeat center;
                background-size: 100%;
            }
            &::after{
                left: auto;
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}
</style>
