<template>
    <section id="banners">
        <swiper :options="swiperOption">
            <swiper-slide v-for="banner in banners">
                <div class="banner" :style="{ backgroundImage: 'linear-gradient(0deg,rgba(24, 87, 88,0.8),rgba(24,87,88,0.8)), url(' + banner.imagem + ')' }">
                    <h1 class="title" v-html="banner.titulo"></h1>
                    <div class="subtitle" v-html="banner.subtitulo"></div>
                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
    </section>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
    props: ['banners',],
    data () {
        return {
            swiperOption: {
                autoplay: 5000,
                loop: true,
                effect: 'fade',
                slidesPerView: 1,
                paginationClickable: true,
                keyboardControl: true,
                pagination: {
                  el: '.swiper-pagination',
                  bullets: true
                }
            }
        }
    }
}
</script>

<style lang="scss">
#banners{
    border-bottom: 10px solid $green3;

    .banner{
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        color: #FFF;
        @include for-phone-only{
            padding: 0 20px;
        }
        .title{
            text-align: center;
            font-size: 2.1rem;
            text-transform: uppercase;
            font-family: $title-font;
            @include for-phone-only{
                font-size: 1.5rem;
            }
        }
        .subtitle{
            margin-top: 20px;
            border: 2px dashed #FFF;
            font-size: 1.8rem;
            padding: 10px 40px;
            text-align: center;
            @include for-phone-only{
                margin-top: 50px;
            }
        }
    }
}
</style>
