 <template>
    <div class="form-wrapper">
    <form @submit="checkForm"  method="post">
        <div v-if="!this.successContact" id="contact-form">
            <div class="info">
                <h1>Para maiores informações ou dúvidas, preencha o formulário e entraremos em contato.</h1>
                <input :class="[errors['contact_name'] ? 'has-error' : '']" type="text" v-model="contact_name" name="nome" value="" placeholder="Nome">
                <span v-if="errors['contact_name']" class="error">{{ errors['contact_name'] }}</span>
                <input :class="[errors['contact_phone'] ? 'has-error' : '']" type="text" v-model="contact_phone" v-mask="'(##) #####-####'" name="telefone" placeholder="Telefone"/>
                <span v-if="errors['contact_phone']" class="error">{{ errors['contact_phone'] }}</span>
                <input :class="[errors['contact_email'] ? 'has-error' : '']" type="email" v-model="contact_email" name="email" value="" placeholder="Email">
                <span v-if="errors['contact_email']" class="error">{{ errors['contact_email'] }}</span>
                <textarea :class="[errors['contact_message'] ? 'has-error' : '']" v-model="contact_message" name="mensagem" value="" placeholder="Mensagem" rows="4" cols="50">
                </textarea>
                <span v-if="errors['contact_message']" class="error">{{ errors['contact_message'] }}</span>
                <button type="submit" class="btn">Enviar</button>
            </div>
        </div>
        <span v-else class="contact-success">
            <h1>Obrigado!</h1>
            <p>Mensagem Enviada!</p>
        </span>
    </form>
  </div>
</template>

<script>
import ContactService from '@/services/ContactService'

export default {

    data(){
        return {
            errors: {},
            contact_name: '',
            contact_phone: '',
            contact_message: '',
            contact_email: '',
            successContact: false,
            contactService: ContactService.build()
        }
    },
    methods: {
        validEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        checkForm(e){
            e.preventDefault();
            this.errors = {};

            if (!this.contact_name) {
              this.errors['contact_name'] = 'O nome é obrigatório.'
            }
            if (!this.contact_phone) {
              this.errors['contact_phone'] = 'O telefone é obrigatório.'
            }
            if (!this.contact_message) {
              this.errors['contact_message'] = 'A mensagem é obrigatória.'
            }
            if (!this.contact_email) {
              this.errors['contact_email'] = 'O email é obrigatório.'
            } else if (!this.validEmail(this.contact_email)) {
              this.errors['contact_email'] = 'Utilize um e-mail válido.'
            }

            if (!Object.keys(this.errors).length) {
              this.sendContact();
           }
       },
        sendContact(){
            let data = {
                'nome': this.contact_name,
                'telefone': this.contact_phone,
                'email': this.contact_email,
                'mensagem': this.contact_message
            }

            this.contactService.sendContactMessage(data).then(
                response => {
                    console.log(response);
                    if(response.status === 'OK'){
                      this.contact_name = null
                      this.contact_phone = null
                      this.contact_email = null
                      this.successContact = true

                    }else{
                      this.successContact = false
                    }
                },
                error => {
                    console.log("ERROR");
                }
            );
        }
    }
}
</script>

<style lang="scss">
#contact-form{
    display: flex;
    flex-direction: column;

    h1{
        font-weight: 600;
        font-size: 1.2rem;
        font-family: $primary-font;
        margin-bottom: 20px;
    }
    input, textarea{
        padding-left: 15px;
        height: 40px;
        width: 100%;
        border-radius: 5px;
        line-height: 30px;
        border: 1px solid #e6e6e6;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    textarea{
        height: auto;
    }
    .btn{
        background: $green;
        height: 40px;
        color: #FFF;
        font-weight: 600;
        display: inline-block;
        width: 100px;
        margin: 0 auto;
        float: right;
        cursor: pointer;
        font-family: $primary-font;
    }
    .error{
        margin-top: -10px;
        margin-bottom: 5px;
        font-size: 0.8rem;
        color: red;
        padding-left: 15px;
    }
}
.contact-success{
    font-family: $primary-font;
    font-weight: 600;
    text-align: center;
    color: #333;
    h1{
        font-size: 1.3rem;
    }
}
</style>
