<template lang="html">
    <div class="segment">
        <div class="content">
            <div class="image-wrapper">
                <img :src="segment.imagem_titulo" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['segment',]
}
</script>

<style lang="scss">
.segment{
    cursor: pointer;
    background: $green2;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 280px;
    font-family: $secondary-font;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.3rem;
    @include for-phone-only{
        width: 80%
    }

    &:not(:first-child){
        margin-left: 30px;
        @include for-phone-only{
            margin-left: 0;
            margin-top: 40px;
        }
    }
    &::before, &::after{
        content: '';
        height: 50px;
        width: 60px;
        position: absolute;
    }
    &::before{
        top: calc(10% - 20px);
        left: calc(10% - 20px);
        background: url('../../../assets/images/aspa_topo_ciclo.png') no-repeat;
        background-size: 100%;
    }
    &::after{
        bottom: calc(10% - 20px);
        right: calc(10% - 20px);
        background: url('../../../assets/images/aspa_baixo_ciclo.png') no-repeat;
        background-size: 100%;
    }
    .content{
        height: 0;
        padding-bottom: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .image-wrapper{
        padding-top: 100%;
        margin: 0 auto;
        text-align: center;
        img{
            max-width: 100%;
            height: 70px;
            margin-bottom: 10px;
            @include for-big-desktop-up{
                height: 80px;
            }
        }
    }
    .text{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        font-size: 0.9rem;
        font-weight: 300;
    }
}
</style>
